.projectImageInvest{
    width: auto;
    height: auto;
    margin: 0 auto;
}

.investForm{
    border: 1px solid darkgray;
    border-radius: 10px;
}

.investFormInside{
    margin-top: 5px;
    margin-bottom: 5px;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}